.header {
    border: solid black 1px;
    width:30%;
    background-color: rgb(139, 139, 224);
    text-align: center;
};

#left {
    justify-content: center;
    border: black dashed 1px;
}

.outputBox {
    border: black solid 1px;
    width:70%;
    height: 30%;
}