body {
<<<<<<< HEAD
    margin-left: 20px;
    background-image:  url("https://3.bp.blogspot.com/-jWFnU862W7s/VUjVKU0S2RI/AAAAAAAAFyw/1blfN4mL0Bk/s1600/printable-blank-world-map-blue-green%2B(2).png");
    background-size: cover;
=======
    align-items: center;
    margin: 20px;
>>>>>>> 9c39b8b (centering page)
}

.header {
    border: solid black 1px;
    width:35%;
    background-color: rgb(136, 189, 224);
    text-align: center;
    margin-left: 50px;

}


.outputBox {
    border: black solid 1px;
    width:70%;
    height: 30%;
    border-radius: 10px;
    background-color: white;
}

#translationOutput {
    border: black solid 1px;
<<<<<<< HEAD
    width:60%;
    height: 55%;
    background-color: white;
}

#translationOutput>p>span:hover {
    cursor: pointer;
=======
    width:70%;
    height: 50%;
>>>>>>> 9c39b8b (centering page)
}