.header {
    border: solid black 1px;
    width:35%;
    background-color: rgb(136, 189, 224);
    text-align: center;
    margin-left: 50px;

};

#left {
    border: black dashed 1px;
}

.outputBox {
    border: black solid 1px;
    width:70%;
    height: 30%;
    border-radius: 10px;
}

#translationOutput {
    border: black solid 1px;
    width:60%;
    height: 55%;
}

#translationOutput>p>span:hover {
    cursor: pointer;
}